<!-- chat_form.html -->
<form method="post" class="fixed-bottom bg-dark p-4 p-md-5 border-top">
    {% csrf_token %}
    <div class="row">
        <div class="col col-lg-10  col-xl-8 mx-auto">
            <div class="row">
                <div class="col">
            <input type="text" name="input_text" class="form-control" placeholder="Type your question here" aria-label="Type your question" autofocus required>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" onclick="showSpinner()">Ask</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" type="button" onclick="location.href='/new_chat/'">New Chat</button>
        </div>
            </div>
        </div>
    </div>
</form>
